*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}
body{
  font font-family: Arial, sans-serif;

}
header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ffd700;
  padding: 20px 40px;
  position: relative;

}
.logo-img{
  height: 90px;
}
.main-boks{
  position: relative;
  background-color: #ffd700;
  .main-boks

}



